{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">
<head>

<!--  DEFAULT DJANGO ADMIN BASE HEAD COMPONENTS -->
<link rel="stylesheet" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
{% block dark-mode-vars %}
  <link rel="stylesheet" href="{% static "admin/css/dark_mode.css" %}">
{% endblock %}
{% if not is_popup and is_nav_sidebar_enabled %}
  <link rel="stylesheet" href="{% static "admin/css/nav_sidebar.css" %}">
  <script src="{% static 'admin/js/nav_sidebar.js' %}" defer></script>
{% endif %}

{% if LANGUAGE_BIDI %}<link rel="stylesheet" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}">{% endif %}
{% block extrahead %}{% endblock %}
{% block responsive %}
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="{% static "admin/css/responsive.css" %}">
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" href="{% static "admin/css/responsive_rtl.css" %}">{% endif %}
{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
<!-- END OF DEFAULT DJANGO ADMIN BASE HEAD COMPONENTS -->

<!--CUSTOMISED HEAD COMPONENTS-->
<title>Timetable solutions admin</title>
{% load static %}
<link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
<link rel="stylesheet" href="{% static 'stylesheets/base.css' %}">
<link rel="stylesheet" href="{% static 'custom_admin/stylesheets/custom_colour_scheme.css' %}">
{% block extrastyle %}
<style>
body, html {
    background-color: white;
}
</style>
{% endblock %}
<!--END OF CUSTOMISED HEAD COMPONENTS-->

</head>

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
  data-admin-utc-offset="{% now "Z" %}">

<!-- Full page wrapper -->
<div id="full_page_wrapper" class="background_image_container">

<!-- Container -->
<div id="container">
    {% if not is_popup %}

    <!-- HEADER -->
    <!--Add the 'head strap'-->
    {% include "includes/head_strap.html" %}

    <!--Add the navigation bar-->
    {% if user.is_authenticated %}
        {% include "includes/navigation_bar.html" %}
    {% endif %}
    <!-- END HEADER -->

    {% endif %}

    <div class="main" id="main">
      {% if not is_popup and is_nav_sidebar_enabled %}
        {% block nav-sidebar %}
          {% include "admin/nav_sidebar.html" %}
        {% endblock %}
      {% endif %}
      <div class="content">
        {% block messages %}
          {% if messages %}
            <ul class="messagelist">{% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
            {% endfor %}</ul>
          {% endif %}
        {% endblock messages %}
        <!-- Content -->
        <div id="content" class="{% block coltype %}colM{% endblock %}">
          {% block pretitle %}{% endblock %}
          {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
          {% block content_subtitle %}{% if subtitle %}<h2>{{ subtitle }}</h2>{% endif %}{% endblock %}
          {% block content %}
            {% block object-tools %}{% endblock %}
            {{ content }}
          {% endblock %}
          {% block sidebar %}{% endblock %}
          <br class="clear">
        </div>
        <!-- END Content -->
        {% block footer %}<div id="footer"></div>{% endblock %}
      </div>
    </div>
</div>
<!-- END Container -->
</div>
<!-- END Full page wrapper -->
{% include "includes/footer.html" %}

</body>
</html>
