<!-- ====================
Head strap goes at the top of every page of the site
Note that for proper styling, a link to stylesheets/base.css is needed.
==================== -->

 <div id="head_strap">
        <i id="head_strap_text">Timetable Solutions</i>
        {% if user.is_authenticated %}
            <span id="login_info">
                {% if user.profile %}
                {{user.profile.school.school_name}}: {{user.profile.school.school_access_key}} |
                {% endif %}
                {{user.username}} |
                <a href="{% url 'logout' %}" class="white_link">Logout</a> |
                <a href="{% url 'password_change' %}" class="white_link">Change password</a>
            </span>
        {% endif %}
</div>
