<!-- ====================
Navigation bar goes immediately below the head strap on every page of the site
Note that for proper styling, a link to stylesheets/base.css is needed.
==================== -->

<div id="navbar">
    <p id="navbar_text">
        <a href="{% url 'dashboard' %}" class="white_link">Home</a> |
        <a href="{% url 'file_upload_page' %}" class="white_link">Data</a> |
        <a href="{% url 'create_timetables' %}" class="white_link">Create</a> |
        <a href="{% url 'selection_dashboard' %}" class="white_link">View</a>
    </p>
</div>
