<!--
A table showing a list of objects with appropriate headers
------------------
Context variables:
------------------
form: base_forms.Search
is_search: bool
search_term: str | None
page_obj: django_paginator.Page
paginator: django_paginate.Paginator
human_field_names: list[str]
model_name_singular: str
model_name_plural: str
-->

<style>
.fixed-width-column {
    {% with displayed_fields|length as n_columns %}
        width: calc(90% / {{ n_columns }});
    {% endwith %}
}
.view-column {
    width: 10%;
}
</style>


<div class="row mx-3">
    <div class="card shadow p-2 mb-3">

      <div class="card-content">

<!--        Explanatory text-->
        <div class="card-text">
            {% if is_search and paginator.count > 0 and not form.errors %}
                <p>
                    <b>
                        Found {{ paginator.count }}
                        {% if paginator.count > 1 %}
                            {{ model_name_plural }}
                        {% else %}
                            {{ model_name_singular }}
                        {% endif %}
                        for search {{ search_term }}
                    </b>
                </p>
            {% elif is_search and not form.errors %}
                <p>
                    <b>{{ search_term|default:"Search term" }} did not give any results!</b>
                </p>
            {% else %}
                <p>
                    {% if paginator.num_pages == 1 and paginator.count == 1 %}
                        <b>Showing your only {{model_name_singular }}</b>
                    {% elif paginator.num_pages == 1 and paginator.count > 1 %}
                        <b>Showing all {{ paginator.count }} {{ model_name_plural }}</b>
                    {% else %}
                        <b>
                            Showing {{ model_name_plural }} {{ page_obj.start_index }} -
                            {{ page_obj.end_index }} of {{ paginator.count }}
                        </b>
                    {% endif %}
                </p>
            {% endif %}
        </div>

<!--        Main display table-->
        <div class="table-responsive">
            <table class="table table-striped table-hover w-100 text-nowrap">
                <thead>
                    <tr>
                        {% for field_name in displayed_fields.values %}
                            <th class="fixed-width-column">{{ field_name }}</th>
                        {% endfor %}
                        <th class="view-column"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for object_ordered_dict in page_obj.object_list %}
                        {% for field_name, field_value in object_ordered_dict.items %}
                            {% if field_name in displayed_fields %}
                                <td class="align-middle">
                                    <a
                                       href="{{ object_ordered_dict.update_url }}"
                                       class="link-secondary text-decoration-none text-dark"
                                    >
                                    {{ field_value }}
                                    </a>
                                </td>
                            {% endif %}
                        {% endfor %}
                            <td class="py-1">
                                <a href="{{ object_ordered_dict.update_url }}" class="btn btn-secondary py-1">
                                    <i class="fa-solid fa-eye"></i>
                                    View
                                </a>
                                {% if object_ordered_dict.timetable_url %}
                                    <a href="{{ object_ordered_dict.timetable_url }}" class="btn btn-info py-1">
                                        <i class="fa-regular fa-calendar-days"></i>
                                        Timetable
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

<!--        Pagination-->
        {% if paginator.count > 0 %}
            <div>
                <span>
                    {% if page_obj.has_previous %}
                        <a href="?page=1" class="btn btn-secondary p-1">
                            <i class="fa-solid fa-angle-double-left"></i>
                        </a>
                        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-secondary p-1">
                            <i class="fa-solid fa-angle-left"></i>
                        </a>
                    {% endif %}
                    <span>
                        <b>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</b>
                    </span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-secondary p-1">
                            <i class="fa-solid fa-angle-right"></i>
                        </a>
                        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-secondary p-1">
                            <i class="fa-solid fa-angle-double-right"></i>
                        </a>
                    {% endif %}
                </span>
              </div>
        {% endif %}

      </div>
    </div>
</div>
