body, html {
  height: 100%;
  background-color: #D1D1D1;
}
label, input {
    display: block;
}
span.helptext {
    display: none;
}
.head_strap {
    background-color: #11014A;
    padding: 0px;
    height: 60px;
}
.head_strap_text {
    color: white;
    font-size: 30px;
    margin-left: 20px;
    text-align: center;
    padding: 15px 0;
    float: left;
}
.login_info {
    color: white;
    text-align: center;
    font-size: 20px;
    margin-right: 20px;
    text-align: center;
    padding: 20px ;
    float: right;
}
.footer_info {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
    padding: 0.1px 0;
}
a {color: white;}