# Dependencies for building the application
django==4.1.7
django-htmx==1.14.0
gunicorn==20.1.0
numpy==1.24.2
pandas==1.5.3
pulp==2.7.0
psycopg2-binary>=2.8
python-dateutil==2.8.2
python-decouple==3.6
