# Requirements for local development
black==23.1.0
flake8==6.0.0
isort==5.12.0
mypy==1.0.1
pre-commit==3.1.1
# Pytest plugins for assisting local dev (not required to run the tests)
pytest-random-order==1.1.0
pytest-repeat==0.9.1
