<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
<link rel="stylesheet" href="{% static 'stylesheets/base.css' %}">

{% block head_content %}
{% endblock %}

<style>
.background_image_container {
    background-image: url("{% static 'img/patterns_background.png' %}");
    background-position: cover;
    background-repeat: repeat;
    background-size: contain;
}

{% block style_block %}
{% endblock %}
</style>

</head>

<body>
<div id="full_page_wrapper" class="background_image_container">
    <!--Add the 'head strap'-->
    <div id="head_strap">
        <i id="head_strap_text">Timetable Solutions</i>
        {% if user.is_authenticated %}
            <span id="login_info">
                {{user.profile.school.school_name}} | {{user.username}} | <a href="{% url 'logout' %}">Logout</a> | <a href="{% url 'password_change' %}">Change password</a>
            </span>
        {% endif %}
    </div>

    <!--Add the navigation bar-->
    {% if user.is_authenticated %}
    <div id="navbar">
        <p id="navbar_text">
            <a href="{% url 'dashboard' %}">Home</a> |
            <a href="{% url 'file_upload_page' %}">Data</a> |
            <a href="{% url 'create_timetables' %}">Create</a> |
            <a href="{% url 'selection_dashboard' %}">View</a>
        </p>
    </div>
    {% endif %}
    <div id="parent_container">
        {% block content %}
        {% endblock %}
    </div>
</div>

<div id="footer_info">
    <p>
        <b>
        Copyright Timetable Solutions Ltd 2022
            <span id="footer_contact_info"> |
                <a href="mailto:edward.e.j.wilson@gmail.com">edward.e.j.wilson@gmail.com</a> |
                +447810804531 |
                London | New York | Singapore
            </span>
        </b>
    </p>
</div>

</body>
</html>