<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
<link rel="stylesheet" href="{% static 'stylesheets/base.css' %}">
<link rel="stylesheet" href="{% static 'stylesheets/utils.css' %}">

<script src="{% static 'javascript/htmx.min.js' %}" defer></script>

{% block head_content %}
{% endblock %}

<style>
.background_image_container {
    background-image: url("{% static 'img/patterns_background.png' %}");
    background-position: cover;
    background-repeat: repeat;
    background-size: contain;
}

{% block style_block %}
{% endblock %}
</style>

</head>

<body>

{% include "includes/flash_messages.html" %}
<div id="full_page_wrapper" class="background_image_container">
    <!--Add the 'head strap'-->
    {% include "includes/head_strap.html" %}

    <!--Add the navigation bar-->
    {% if user.is_authenticated %}
        {% include "includes/navigation_bar.html" %}
    {% endif %}

    <div id="parent_container">
        {% block content %}
        {% endblock %}
    </div>
</div>

<!--Add the footer-->
{% include "includes/footer.html" %}

</body>
</html>
