<!DOCTYPE html>
<html>
{% extends "base.html" %}

<head>
{% block head_content %}
    <title>Pupil Timetables</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylesheets/pupil_teacher_navigators.css' %}">
{% endblock %}


</head>

<body>
{% block content %}

<div id="parent_container">
    <div id="content_container">
        <h2>Pupil timetables</h2>

        <p style="margin-bottom:20px;">Expand the year groups below to locate the relevant pupil</p>
        {% for year_group, pupils_in_year in all_pupils.items %}
        <button class="collapsible">Year {{year_group}} pupils</button>
        <div class="content">
          <table>
              <tr>
                  <th>Firstname</th>
                  <th>Surname</th>
                  <th>View timetable</th>
              </tr>
              {% for pupil in pupils_in_year %}
              <tr>
                  <td>{{pupil.firstname}}</td>
                  <td>{{pupil.surname}}</td>
                  <td><a href="{% url 'pupil_timetable_view' pupil.pupil_id %}" style="color:black;">View</a></td>
              </tr>
              {% endfor %}
          </table>
        </div>
        {% endfor %}
    </div>
</div>

<script src="{% static 'javascript/collapsible.js' %}"></script>

{% endblock %}
</body>
</html>