<!DOCTYPE html>
<html>
{% extends "base.html" %}

<head>
{% block head_content %}
<title>{{teacher.firstname}} {{teacher.surname}} Timetable</title>
{% load static %}
<link rel="stylesheet" href="{% static 'stylesheets/pupil_teacher_timetable.css' %}">
{% endblock %}
<style>
{% block styling %}

{% for year_group, colour in colours.items %}
.color_{{ year_group }} {
  background-color: {{colour}};
}
{% endfor %}

{% endblock %}
</style>
</head>

<body>
{% block main_content %}
<h1 class="heading">Timetable for: {{teacher.firstname}} {{teacher.surname}}</h1>

<table id="{{teacher.firstname}}_{{teacher.surname}}_timetable">

{% for time, day_dict in timetable.items %}

<tr>
    {% if forloop.first %}
    <th style="background-color:#876969;color:white;width:10%">Start time</th>
    {% for day in day_dict %}
    <th class="perimeter" style="width:18%;">{{ day|title }}</th>
    {% endfor %}
    {% endif %}
</tr>
<tr>
    <td class="perimeter">{{time}}</td>
    {% for day, klass in day_dict.items %}
      {% if klass == "FREE" %}
        <td class="color_{{klass}}"><b>{{ klass|title }}</b></td>
      {% elif klass.subject_name == "LUNCH" %}
        <td class="color_{{klass.subject_name}}"><b>{{ klass.subject_name|title}}</b></td>
      {% else %}
        <td class="color_{{klass.pupils.all.0.year_group}}">
            <b>{{ klass.subject_name|title}}</b><br>
          <i>Year {{ klass.pupils.all.0.year_group }}</i><br>
          <i>{{ klass.classroom.building }} {{ klass.classroom.room_number }}</i>
        </td>
      {% endif %}
    {% endfor %}
</tr>
{% endfor %}
</table>

<button class="download_button" onclick="download_table_as_csv('{{teacher.firstname}}_{{teacher.surname}}_timetable')">
    Download as CSV
</button>
<script src="{% static 'javascript/table_to_csv.js' %}"></script>
{% endblock %}

</body>

</html>