<!DOCTYPE html>
<html>
{% extends "base.html" %}

<head>
{% block head_content %}
    <title>Teacher timetables</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylesheets/pupil_teacher_navigators.css' %}">
{% endblock %}
</head>

<body>
{% block content %}
<h2>Teacher timetables</h2>

<p>Expand the sections below to locate the relevant teacher</p>
{% for letter, teachers in all_teachers.items %}
<button class="collapsible">{{letter | upper}}- Surnames</button>
<div class="content">
  <table>
      <tr>
          <th>Firstname</th>
          <th>Surname</th>
          <th>View timetable</th>
      </tr>
      {% for teacher in teachers %}
      <tr>
          <td>{{teacher.firstname}}</td>
          <td>{{teacher.surname}}</td>
          <td><a href="{% url 'teacher_timetable_view' teacher.teacher_id %}">View</a></td>
      </tr>
      {% endfor %}
  </table>
</div>
{% endfor %}

<script src="{% static 'javascript/collapsible.js' %}"></script>

{% endblock %}
</body>
</html>