<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
<title>Navigation to view either pupil or teacher list</title>
</head>

<body>
<h1>Timetable for: {{pupil.firstname}} {{pupil.surname}}</h1>

<table>

{% for time, day_dict in timetable.items %}

<tr>
    {% if forloop.first %}
    {% for day in day_dict %}
    <th>{{day}}</th>
    {% endfor %}
    {% endif %}
</tr>
<tr>
    {% for day, subject in day_dict.items %}
    <td>{{subject}}</td>
    {% endfor %}
</tr>

{% endfor %}
</table>
</body>

</html>