# Git
.git
.gitignore

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Testing
.pytest_cache/
tests/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
.data
data/

# Unnecessary project components
assets/
scripts/
static/
