<!DOCTYPE html>
<html>

{% extends "base.html" %}
{% load static %}

<head>
{% block head_content %}
<title> File upload </title>
<link rel="stylesheet" href="{% static 'stylesheets/app_dashboard_base.css' %}">
<link rel="stylesheet" href="{% static 'data_upload/stylesheets/file_upload.css' %}">
{% endblock %}

<style>
{% block style_block %}
{% endblock %}
</style>

</head>

<body>
{% block content %}

<div id="content_container">
    <div id="grid_container">
        <div id="dashboard_title">
            <h4>Upload your data</h4>
        </div>
        <div id="info_container" class="info_frame">
            <p style="font-size:16px;"><i>
            The table below lists the different files you will need to upload to start creating timetables.
            The structure assumes you have already grouped pupils into classes and assigned teachers and classrooms to
            these classes.<br>
            You can download an example file for each required upload, and reset your uploads at any point.
<!--        TODO - link up button for: You can also view and edit your data at any point.-->
            </i></p>
            {% if error_message is not None %}
                <div class="error_message">
                    {{ error_message }}
                </div>
            {% endif %}
        </div>
        <div id="form_container">
        <table id="upload_file_table">
            {% for required_form in required_forms.values %}
            <tr class="{{ required_form.upload_status | lower }}_row">
                <td class="table_cell">{{required_form.form_name}}</td>
                <td class="table_cell">Placeholder</td>
                <td class="table_cell">{{ required_form.upload_status | title }}</td>
                {% if required_form.upload_status == "incomplete" %}
                <td class="table_cell">
                    <form enctype="multipart/form-data" action="{% url required_form.url_name %}" method="post">
                        {% csrf_token %}
                        <table>
                            {{ required_form.empty_form.as_div }}
                        </table>
                        <button class="upload_button" type="submit">
                            Upload
                        </button>
                    </form>
                </td>
                {% elif required_form.upload_status == "complete" %}
                <td class="table_cell">
                    <form action=#>
                        <button class="partial_reset_button" type="submit">
                            Reset
                        </button>
                    </form>
                </td>
                {% elif required_form.upload_status == "disallowed" %}
                <td class="table_cell">
                   <p>
                       First complete all the other required uploads.
                   </p>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        <form action=#>
            <button id="reset_all_button" type="submit">
                Reset all
            </button>
        </form>
        </div>
    </div>
</div>

{% endblock %}
</body>
</html>