/* Shared styling for all pages relating to login / registration / account management */
@import url(/static/stylesheets/colour_scheme.css);

/* ====================
Container for all form content
==================== */
#form_container {
    /* Display and box model */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: auto;
    margin: 10px;
    margin-bottom: 50px;
    padding: 20px;

    /* Background and border */
    background-color: white;
    border: 3px solid var(--content_container_border_lilac);
    border-radius: 10px;
    box-shadow: 5px 5px var(--content_container_shadow);
}

/* ====================
Red, near-form-width button (e.g. 'back')
==================== */
.wide_red_button {
    /* Display */
    width: 330px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;

    /* Typography */
    font-size: 20px;
    color: white;

    /* Background and border */
    background-color: var(--red_button);
    border-radius: 5px;
    border: 1px solid var(--red_button_border);
}

/* ====================
Set generic styling for form elements
==================== */
input {
    /* Display */
    width: 330px;
    margin-bottom: 5%;
    padding-top: 5px;
    padding-bottom: 5px;

    /* Typography */
    font-size: 20px;

    /* Border */
    border-radius: 5px;
    border: 1px solid black;
}
input[type="text"] {text-align: center;}
input[type="password"] {text-align: center;}
input[type="submit"] {
    background-color: var(--purple_button);
    color: white;
}
input[type="submit"]:hover {cursor: pointer;}

label {
    font-weight: bold;
    font-size: 20px;
}

hr {
    color:black;
    width:90%;
    margin-bottom:15px;
}