#form_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    min-width: 350px;
    height: auto;
    margin: 10px;
    margin-bottom: 50px;
    padding: 20px;
    border: 3px solid rgba(51, 0, 61, 0.5);
    border-radius: 10px;
    box-shadow: 5px 5px rgba(184, 184, 184, 0.8);
}

input {
    border-radius: 5px;
    border: 1px solid #33003d;
    width: 330px;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 5%;
}
input[type="submit"] {
    background-color: #1f1530;
    color: white;
    width: 100%;
}
input[type="submit"]:hover {cursor: pointer;}
label {
    font-weight: bold;
    font-size: 20px;
}
