<!--
A form to change a model instance with, in which all widgets are disabled
------------------
Context variables:
------------------
form: base_forms.CreateUpdate
page_url: str
-->

<form
    hx-get="{{ page_url }}"
    hx-target=this
    hx-swap="outerHTML"
    id="disabled-change-form"
    class="p-1"
>

    {% include 'partials/forms/non-field-errors.html' with form=form %}

    <fieldset disabled>
        {% for field in form %}
            {% include 'partials/forms/form-field.html' with field=field only %}
        {% endfor %}
    </fieldset>
    <button type="submit" id="hx-make-editable" class="btn btn-success m-1">
        Edit
    </button>

</form>
