<!--
A form with a single text entry search field, that also renders error messages
------------------
Context variables:
------------------
form: base_forms.SearchForm
page_url: str
-->

<style>
    /* Style the error messages */
    .alert ul {
        margin-bottom: 0;
        padding-left: 0;
        list-style-type: none;
    }
</style>

<form action="{{ page_url }}" method="get" class="p-1" id="search-form">

    {% if form.non_field_errors %}
        <div class="alert alert-danger p-2" role="alert">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    {% include 'data_management/partials/search-field.html' with search_field=form.search_term %}
</form>

<div class="d-flex flex-row">
    <input form="search-form" type="submit" name="search-submit" value="Search" class="btn btn-success m-1">
    <a href="{{ page_url }}" class="btn btn-secondary m-1">
        Clear
    </a>
</div>
