{% extends 'base.html' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">
        <a href="{% url 'break-landing-page' %}" class="link-secondary text-decoration-none">
            breaks
        </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        <a href="{% url 'break-list' %}" class="link-secondary text-decoration-none">
            list
        </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        {{ serialized_model_instance.break_id }}
    </li>
{% endblock %}

{% block content %}

<div class="row mx-3">
    <div class="card-header">
        <h3>
            View and update details for break {{ serialized_model_instance.break_id }}
        </h3>
    </div>
</div>

<div class="row mx-3 my-1">

    <div class="col-lg-6 my-3 p-1">
        <div class="card h-100 p-2">
            <div class="card-header">
                <h5>Update break timings</h5>
            </div>
            <div class="card-body">
                {% include 'data_management/partials/forms/disabled-update-form.html' with form=form %}
            </div>
        </div>
    </div>

    <div class="col-lg-6 my-3 p-1">
        <div class="card h-100 p-2">
            <div class="card-header">
                <h5>Update relevant year groups</h5>
            </div>
            <div class="card-body">
                {% include 'utils/forms/basic-form.html' with form=update_year_groups_form form_id="update-year-groups-form" submit_name=update_year_groups_submit submit_url=page_url submit_text="Update" other_button_url=page_url other_button_text="Reset" %}
            </div>
        </div>
    </div>

</div>

{% endblock %}
