/* ====================
Container for the main content in the center of the page
==================== */
#content_container {
    /* Positioning */
    position: relative;
    z-index: 1;

    /* Display and box model */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 70%;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 40px;

    /* Background and border */
    background-color: white;
    border: 3px solid rgba(51, 0, 61, 0.5);
    border-radius: 10px;
    box-shadow: 5px 5px rgba(184, 184, 184, 0.8);
}

/* ====================
Collapsible / expander for pupil / teacher list styling
==================== */
.collapsible {
    /* Positioning */
    position: relative;

    /* Display and box model */
    font-size: 15px;
    width: 100%;
    padding: 18px;

    /* Typography */
    color: white;
    text-align: left;

    /* Background, border and misc. */
    background-color: #777;
    border: none;
    cursor: pointer;
    outline: none;
}
.collapsible:after {
    /* Positioning */
    float: right;

    /* Display */
    content: '\002B';
    margin-left: 5px;

    /* Typography */
    color: white;
    font-weight: bold;
}
.active, .collapsible:hover {
  background-color: #555;
}
.active:after {
  content: "\2212";
}

/* ====================
Table of pupil / teachers styling (akin to a list view)
==================== */
.content {
    /* Positioning */
    position: relative;

    /* Display */
    width: 100%;
    max-height: 0;
    padding: 0 18px;
    overflow: hidden;

    /* Background */
    background-color: #f1f1f1;

    /* Animation */
    transition: max-height 0.2s ease-out;
}
table, th, td {
    /* Display */
    padding: 10px;

    /* Typography */
    text-align: center;

    /* Border */
    border: 1px solid white;
    border-collapse: collapse;
}
table {width: 100%;}
tr:nth-child(even) {background-color: rgba(150, 212, 212, 0.4);}
tr:hover {
    /* Typography */
    color: white;
    font-weight: bold;

    /* Background */
    background-color: #3d112f;
}
