/* Stylesheet for the pages showing pupil / teacher timetables */
@import url(/static/stylesheets/colour_scheme.css);

:root {
    /* Colours (just used within this page, otherwise in colour_scheme.css*/
    --default_timetable_slot: #c9c9c9;
    --timetable_slot_hover_blue: #0a2fa8;
    --perimeter_grey_purple: #4d4141;
    --period_time_grey_lilac: #876969;
}

/* ====================
Container for the timetable (html table that goes in the center of the page)
==================== */
#content_container {
    /* Positioning */
    position: relative;

    /* Display and box model */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* Display */
    width: 80%;
    height: 100%;
    padding: 10px;

    /* Background and border */
    background-color: white;
    border: 3px solid var(--content_container_border_lilac);
    border-radius: 10px;
    box-shadow: 5px 5px var(--content_container_shadow);
}

/* ====================
Formatting of the timetable (a html table) itself, and its components
==================== */
#timetable {
    width: 100%;
}

.timetable_slot {
    /* Display */
    height: 50px;
    padding: 3px;

    /* Typography */
    font-size: 15px;
    text-align: center;

    /* Background and border */
    background-color: var(--default_timetable_slot); /* default colour if no subject is given */
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 3px;
}
.timetable_slot:hover {
  color: white;
  background-color: var(--timetable_slot_hover_blue);
}

.timetable_slot_lesson:hover {
    /* Slots which are lessons, and not lunch / free */
    cursor: pointer;
}

.perimeter {
    /* Display */
    height: 30px;

    /* Typography */
    color: white;
    text-align: center;

    /* Background and border */
    background-color: var(--perimeter_grey_purple);
    border-radius: 3px;
}

#period_time {
    /* Display */
    width: 10%;

    /* Typography */
    color: white;
    text-align: center;

    /* Background and border */
    background-color: var(--period_time_grey_lilac);
    border-radius: 3px;
}

/* ====================
Timetable header and back button styling
==================== */
#heading_back_wrapper {
    /* Display and box model */
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5px;
}

#heading {
    /* Display */
    width: 80%;
    margin: 5px;
    padding: 10px;

    /* Typography */
    font-size: 20px;
    color: white;
    text-align: center;

    /* Background and border */
    background-color: var(--dark_blue_banners);
    border: 1px solid black;
    border-radius: 5px;
}

#back_button_form {
    /* Display */
    width: 15%;
    margin: 5px;
    margin-left: 2.5%; /* Margin-left*/
}

#back_button {
    /* Display */
    width: 100%;
    padding: 10px;

    /* Typography */
    font-size: 20px;
    color: white;
    text-align: center;

    /* Background and border */
    background-color: var(--red_button);
    border-radius: 5px;
    border: 1px solid var(--red_button_border);
}
#back_button:hover {
    background-color: var(--red_button_border);
    cursor: pointer;
}

/* ====================
Download buttons
==================== */
#download_button_panel {
    /* Positioning and box model */
    display: flex;
    flex-direction: row;

    /* Display */
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.download_button {
    /* Display */
    width: 150px;
    margin: 5px;
    padding: 3px;

    /* Typography */
    font-size: 20px;
    color: white;
    text-align: center;

    /* Border and background */
    background-color: var(--green_button);
    border: 1px solid var(--green_button_border);
    border-radius: 5px;
}
.download_button:hover {
    background-color: var(--green_button_border);
    cursor: pointer;
}
