/* ====================
Container for the timetable (html table that goes in the center of the page)
==================== */
#content_container {
    /* Positioning */
    position: relative;

    /* Display and box model */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* Display */
    width: 80%;
    height: 80%;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 40px;

    /* Background and border */
    background-color: white;
    border: 3px solid rgba(51, 0, 61, 0.5);
    border-radius: 10px;
    box-shadow: 5px 5px rgba(184, 184, 184, 0.8);
}

/* ====================
Formatting of the timetable (a html table) itself
==================== */
table {width:100%;}

.perimeter {
  color: white;
  background-color: #4d4141;
  border-radius: 3px;
}
td:hover {
  background-color: #0a2fa8;
  color: white;
}
th, td {
  padding: 5px;
  background-color: #c9c9c9; /* default colour if subject is not found */
  text-align: center;
}
td {
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 3px;
}

/* ====================
Timetable header and back button styling
==================== */
#heading_back_wrapper {
    /* Display and box model */
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5px;
}

#heading {
    /* Display */
    width: 80%;
    margin: 5px;
    padding: 10px;

    /* Typography */
    font-size: 20px;
    color: white;
    text-align: center;

    /* Background and border */
    background-color: #11014A;
    border: 1px solid black;
    border-radius: 5px;
}

#back_button {
    /* Display */
    width: 15%;
    margin: 5px;
    padding: 10px;

    /* Typography */
    font-size: 20px;
    color: white;
    text-align: center;

    /* Background and border */
    background-color: #c4353f;
    border-radius: 5px;
    border: 1px solid #33003d;
}

/* ====================
Download button
==================== */
.download_button {
  border: 1px solid black;
  margin-top: 10px;
}

/* ====================
Main table
==================== */
#timetable {
    width: 100%;
}