{% extends 'base.html' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">
        <a href="{% url 'pupil-landing-page' %}" class="link-secondary text-decoration-none">
            pupils
        </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        <a href="{% url 'pupil-list' %}" class="link-secondary text-decoration-none">
            list
        </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        pupil id: {{ serialized_model_instance.pupil_id }}
    </li>
{% endblock %}

{% block content %}

<div class="row mx-3">
    <div class="card-header">
        <h3>
            View and update details for {{ serialized_model_instance.firstname }} {{ serialized_model_instance.surname }}
        </h3>
    </div>
</div>

<div class="row mx-3 my-1">
    <div class="col-lg-6 my-3 p-1">
        <div class="card p-2">
            {% include 'data_management/partials/forms/disabled-update-form.html' with form=form %}
        </div>
    </div>
</div>

<!--    Lazy-load the related lessons-->
<div
    class="row mx-3 my-1"
    hx-get="{% url 'pupil-lessons-partial' serialized_model_instance.pupil_id %}"
    hx-trigger="load"
    hx-target="this"
    hx-swap="innerHTML"
>
</div>

{% endblock %}
