<!--
A form to delete a model instance with
------------------
Context variables:
------------------
deletion_form: base_forms.Delete
deletion_form_is_disabled: bool
delete_url: str
-->

<form method="post" action="{{ delete_url }}" class="p-1" id="create-form">

    {% csrf_token %}
    {% include 'partials/forms/non-field-errors.html' with form=form %}

    <div class="d-flex flex-column justify-content-around align-items-start">

        <fieldset {% if deletion_form_is_disabled %}disabled{% endif %}>
            <div class="mb-2">
                    <input type="submit" name="submit" value="Delete" class="btn btn-danger m-1">
            </div>

            <div>
                {% include 'partials/forms/form-field.html' with field=deletion_form.confirm %}
            </div>
        </fieldset>

    </div>

</form>
