<!--
A form to change a model instance with
------------------
Context variables:
------------------
form: base_forms.Update
page_url: str
-->

<form method="post" action="{{ page_url }}" class="p-1" id="update-form">

    {% csrf_token %}
    {% include 'partials/forms/non-field-errors.html' with form=form %}

    {% for field in form %}
        {% include 'partials/forms/form-field.html' with field=field only %}
    {% endfor %}

    <div>
        <input type="submit" name="submit" value="Update" class="btn btn-success m-1">
        <a href="{{ page_url }}" id="revert" class="btn btn-secondary m-1">
            Revert
        </a>
    </div>

</form>
