<!--
A form with a single file field
------------------
Context variables:
------------------
form: base_forms.BulkUpload
upload_url: str
-->

<form action="{{ upload_url }}" method="post" class="p-1" id="upload-form">

    {% csrf_token %}
    {% include 'partials/forms/non-field-errors.html' with form=form %}
    {% include 'partials/forms/form-field.html' with field=form.csv_file %}

    <div class="d-flex flex-row">
        <input type="submit" name="upload-submit" value="Upload" class="btn btn-success m-1">
        <a href="{{ page_url }}" class="btn btn-secondary m-1">
            Download example
        </a>
    </div>
</form>
