<!--An individual field for constructing a form with
------------------
Context variables:
------------------
field: django_forms.Field
-->

{% load form_tags %}

<div class="mb-2">

    <label for="{{ field.id_for_label }}" class="form-label">
        {{ field.label }}
    </label>

    {% if field.errors %}
      <div class="alert alert-danger mb-1 p-1" role="alert">
          {{ field.errors }}
      </div>
    {% endif %}

    {% if field|is_basic_input_widget %}
        {% include 'utils/forms/widgets/input.html' with field=field only %}
    {% elif field.widget_type == "clearablefile" %}
        {% include 'utils/forms/widgets/upload.html' with field=field only %}
    {% elif field.widget_type == "checkbox" %}
        {% include 'utils/forms/widgets/checkbox.html' with field=field only %}
    {% elif field.widget_type == "select" %}
        {% include 'utils/forms/widgets/select.html' with field=field only %}
    {% elif field.widget_type == "selectmultiple" %}
        {% include 'utils/forms/widgets/multiselect.html' with field=field only %}
    {% endif %}

  <div id="{{ field.id_for_label }}-help-text" class="form-text">
      {{ field.help_text }}
  </div>

</div>
