<!DOCTYPE html>
<html>

{% extends "base.html" %}
{% load static %}

<head>
{% block head_content %}
<title> Create timetables </title>
<link rel="stylesheet" href="{% static 'stylesheets/app_dashboard_base.css' %}">
<link rel="stylesheet" href="{% static 'create_timetables/stylesheets/create_timetables.css' %}">
{% endblock %}

<style>
{% block style_block %}
{% endblock %}
</style>

</head>

<body>
{% block content %}

<div id="content_container">
    <div id="grid_container">
        <div id="dashboard_title">
            <h4>Generate new timetable solutions</h4>
        </div>
        {% if not ready_to_create %}
        <!--suppress XmlDuplicatedId -->
        <div id="info_container" class="info_frame">
            <div id="no_data_error_message" class="static_error_message">
                You have uploaded insufficient data to start creating timetables.
                Please return to the
                <a href="{% url 'file_upload_page' %}" id="data_upload_link"><b>data upload page</b></a>
                and finish uploading your data!
            </div>
        </div>
        {% else %}
        <!--suppress XmlDuplicatedId -->
        <div id="info_container" class="info_frame">
            <p style="font-size:16px;"><i>
            Please specify your preferences for the timetable structure.<br>
            You can create new solutions by returning to this page at any point.
            Note that doing this will reset any existing timetables!
            </i></p>
        </div>
        <div id="form_container" class="info_frame">
            {% include 'partials/create-form.html' %}
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
</body>
</html>