{% extends 'base.html' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">
        <a href="{% url 'timetable-slot-landing-page' %}" class="link-secondary text-decoration-none">
            timetable slots
        </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        upload
    </li>
{% endblock %}

{% block content %}

<div class="row mx-3">
    <div class="card-header">
        <h3>Bulk upload timetable slots</h3>
    </div>
</div>

<div class="row mx-3 my-1">
    <div class="card p-1 my-3 col-lg-6">
        <div class="card-header">
            <b>Upload a csv file with the required structure</b>
        </div>
        <div class="card-body">
            {% include 'utils/forms/basic-form.html' with upload=True form=form form_id="upload-form" submit_url=upload_url submit_text="Upload" other_button_url=example_download_url other_button_text="Download example" %}
        </div>
    </div>
</div>

<div class="row mx-3 my-1">
    <div class="card p-1 my-3">
        <div class="card-header">
            <b>Required file structure</b>
        </div>

        <div class="table-responsive">
            <table class="table table-striped w-100 text-nowrap">
                <thead>
                    <tr>
                        <th>slot_id</th>
                        <th>day_of_week</th>
                        <th>starts_at</th>
                        <th>ends_at</th>
                        <th>relevant_year_group_ids</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>09:00</td>
                        <td>09:45</td>
                        <td>1; 2</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <b>slot_id*:</b> A positive integer (1, 2, 3, ...) used to identify this timetable slot.
                Note that these must be unique
            </li>
            <li class="list-group-item">
                <b>day_of_week*:</b> Day of week the slot is on.
                Please use 1, 2, ..., 7 to represent Monday, Tuesday, ..., Sunday
            </li>
            <li class="list-group-item">
                <b>starts_at*:</b> When the slot starts.
                Give the time in the format HH:MM as shown in the example table
            </li>
            <li class="list-group-item">
                <b>ends_at*:</b> When the slot ends.
                Give the time in the format HH:MM as shown in the example table
            </li>
            <li class="list-group-item">
                <b>relevant_year_group_ids*:</b> IDs of the year groups this slot is relevant to.
                Separate each id with a semicolon as shown in the example table
                <ul>
                    <li>
                        Note that each year group can have its own timetable structure. To do this, only
                        reference certain year group ids in this column
                    </li>
                    <li>
                        Alternatively, you can re-use a slot for multiple year groups by including
                        the relevant year group ids in this column, separated by semicolons
                    </li>
                    <li>
                        Note that no two timetable slots that are relevant to a year group are allowed to
                        overlap in time
                    </li>
                    <li>
                        Similarly, a timetable slot and a break relevant to the same year group cannot
                        overlap in time
                    </li>
                </ul>
            </li>
            <li class="list-group-item">
                <i>*required - no empty values are allowed in these columns</i>
            </li>
        </ul>

    </div>
</div>

<!--Documentation-->

{% endblock %}
