/* General/ miscellaneous styling */
body, html {
  height: 100%;
  background-color: #d6d4d4;
}
* {
    margin:0;
    padding:0;
    font-family: Arial;
}
.page_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -20px;
}
.page_wrap:after {
    content: "";
    display: block;
    * equal to footer height */
    height: 20px;
}

a:link, a:visited {text-decoration: none;}
label, input {
    display: block;
}
span.helptext {
    display: none;
}

/* Head strap styling */
.head_strap {
    background-color: #11014A;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
}
.head_strap_text {
    color: white;
    font-size: 30px;
    margin-left: 20px;
    vertical-align: middle;
    float: left;
}
.login_info {
    color: white;
    text-align: center;
    font-size: 20px;
    margin-right: 20px;
    vertical-align: middle;
    float: right;
}

/* Navbar styling */
.navbar {
    position: absolute;
    top: 60px; /* Since this corresponds to the bottom of the head strap */
    background-color: rgba(0, 0, 0, 0.3);
    height: 40px;
    width: 100%;
    line-height: 40px;
    vertical-align: middle;
    z-index: 100;
}
.navbar_text {
    color: white;
    opacity: 1.0;
    font-size: 20px;
    vertical-align: middle;
    margin-left: 20px
}
.navbar:hover {
background-color: rgba(0, 0, 0, 1.0);
}

/* Footer styling */
.footer_info {
    text-align: center;
    vertical-align: middle;
    width: 100%;
    font-size: 12px;
    height: 20px;
}
a {color: white;}