{% extends "legacy-base.html" %}

<head>
{% block head_content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/stylesheets/login_registration_forms.css' %}">
    <title>Register</title>
{% endblock %}

<style>
{% block style_block %}

input[type="submit"] {background-color: #004000;}

p {
    /* Styling of error messages with registration form */
    font-size: 15px;
    margin-bottom: 20px;
}

{% endblock %}

</style>
</head>

{% block content %}

<div id="form_container">
    <h3>
        Please enter the name of your school below
    </h3>
    <br>
    <p>
        You will then be assigned a <b>school access key</b>, which is needed to register other users for your school.
        This will become visible at the top of the site while logged in.
    </p>
    {% for error in errors %}
    <p class="static_error_message">
        {{error_message}}
    </p>
    {% endfor %}
    <form id="register-school-form" method="post">
        {% csrf_token %}
        {{ form.as_div }}
        <input type="submit" value="Complete registration">
    </form>
    <hr class="form_break_hr">
    <a href="{% url 'registration_pivot' %}" class="wide_red_button white_link">Back</a>
</div>

{% endblock %}
