{% extends 'base.html' %}

<head>
{% block head_content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/stylesheets/login_registration_forms.css' %}">
    <title>Register</title>
{% endblock %}

<style>
{% block style_block %}

input[type="submit"] {
    background-color: #004000;
    margin-top: 20px;
    margin-bottom: 20px;
}
input[type="radio"] {
    margin-bottom: 1px;
    margin-top: 10px;
}

label:hover {
  background-color: #1f1530;
  color: white;
}
label {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    padding: 5px;
}

{% endblock %}

</style>
</head>


{% block content %}

<div id="form_container">
    <h4 style="margin-bottom:5px;">
        {{user.first_name}}, do you have an existing access key for your school?
    </h4>
    <form method="post">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Continue">
    </form>
</div>

{% endblock %}