{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'users/stylesheets/dash-tabs.css' %}">
</head>

<div id="info-container">
    <div id="tab-panel">
        <div
            hx-get="{% url 'data-upload-dash-tab' %}"
            hx-trigger="click"
            hx-target="#info-container"
            hx-swap="outerHTML"
            class="tab tab-selected"
        >
            <p class="tab-button-text">Upload data</p>
        </div>
        <div
            hx-get="{% url 'create-timetable-dash-tab' %}"
            hx-trigger="click"
            hx-target="#info-container"
            hx-swap="outerHTML"
            class="tab"
        >
            <p class="tab-button-text">Create timetables</p>
        </div>
        <div
            hx-get="{% url 'view-timetable-dash-tab' %}"
            hx-trigger="click"
            hx-target="#info-container"
            hx-swap="outerHTML"
            class="tab"
        >
            <p class="tab-button-text">View timetables</p>
        </div>
    </div>
    <hr>
    <div id="tab-text-body">
        <ul>
            <li>
                To use the site you will need to upload data on your teachers, classrooms, year groups,
                pupils, timetable structure, and the lessons that need to take place.
            </li>
            <li>
                This can be done in bulk via the
                <a href="">data upload page</a>, which has more details on the exact
                requirements for doing this.
            </li>
            <li>
                You can also create data entries individually via the
                <a href="{% url 'user_admin:index' %}">admin site</a>. Note that the admin can also be used to view
                and edit your data at any point.
            </li>
        </ul>
    </div>
</div>
