<style>
@keyframes fade_in {
    0% {
        opacity: 0;
        font-size: 0;
        transform: rotate(180deg);
    }
    100% {
        opacity: 1;
        font-size: 25px;
    }
}

.field-container .validation-icon {
    /* Positioning */
    position: absolute;

    /* Display */
    margin-top: 2px;
    margin-left: 300px;

    /* Typography */
    font-size: 25px;
}

.validation-icon {
    /* Animation */
    animation-name: fade_in;
    animation-duration: 300ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

</style>

<div class="field-container">
    <label for="{{ form.username.id_for_username }}">Username:</label>
    <span id="username-validation-icon" class="validation-icon">{{ USERNAME_VALID }}</span>
    <input
        hx-post="{% url 'username-field-registration' %}"
        hx-target="#username-validation-icon"
        hx-trigger="keyup changed delay:1s"
        hx-swap="outerHTML"
        hx-select="#username-validation-icon"

        id="{{ form.username.id_for_label }}"
        name="{{ form.username.name }}"
        value="{{ current }}"
        type="text"
        maxlength=25
        autocomplete="{{ form.username.name }}"
        autofocus
        required
    >
</div>