{% extends 'new-base.html' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">
        <a href="{% url 'teacher-landing-page' %}" class="link-secondary text-decoration-none">
            teachers
        </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        upload
    </li>
{% endblock %}

{% block content %}

<div class="row mx-3">
    <div class="card-header">
        <h3>Bulk upload teachers</h3>
    </div>
</div>

<div class="row mx-3 my-1">
    <div class="card p-1 my-3 col-lg-6">
        {% include 'data_management/partials/forms/upload-form.html' with form=form upload_url=upload_url download_url=example_download_url %}
    </div>
</div>

<!--<Table></Table>-->
<!--Documentation-->

{% endblock %}
