<!--An individual input widget for constructing a form field with
------------------
Context variables:
------------------
field: django_forms.BoundField
-->
{% load form_tags %}

<input type="{{ field.widget_type }}"
    {% if field.initial|is_string %}
        value="{{ field.initial }}"
    {% elif field.initial %}
        value={{ field.initial }}
    {% endif %}
    name="{{ field.name }}"
    id="{{ field.id_for_label }}"
    class="form-control"
    aria-describedby="{{ field.id_for_label }}-help-text"
   {% if field.field.required %}required{% endif %}
>
