<!--An individual input widget for constructing a form field with
------------------
Context variables:
------------------
field: django_forms.BoundField
-->
<select
    id="{{ field.id_for_label }}"
    name="{{ field.name }}"
    class="form-select"
    {% if field.field.required %}required{% endif %}
>
    {% for value, label  in field.field.choices %}
        <option
            value="{{ value }}"
            {#    Check the field initial id, incase this is a model choice select #}
            {% if field.initial == value or field.initial.id == value %} selected {% endif %}
        >
            {{ label }}
        </option>
    {% endfor %}
</select>
