<!DOCTYPE html>
<html>

{% extends "base.html" %}

<head>
    {% block head_content %}
    <title> Timetable navigator </title>
    {% endblock %}
    <style>
    {% block styling %}
    {% endblock styling %}
    </style>
</head>

<body>
{% block main_content %}
{% load static %}
<form action="{% url 'teacher_list' %}" method="post">
    {% csrf_token %}
    <div>
        {{teacher_form.teacher_list}}
    </div>
    <button type="submit">Upload</button>
</form>
{{success}}
{% endblock %}
</body>
</html>