/* Container styling */
#parent_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 10px;
}
#parent_container:after {
    content: "";
    display: block;
    * equal to footer height */
    height: 20px;
}
#content_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 500px;
    height: auto;
    padding: 20px;
    margin-bottom: 25px;
    border: 3px solid rgba(51, 0, 61, 0.5);
    border-radius: 10px;
    box-shadow: 5px 5px rgba(184, 184, 184, 0.8);
}


/* Collapsible styling */
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

/* Table styling */
.content {
    width: 100%;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}
table {width: 100%;}
tr:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}
tr:hover {
  background-color: #3d112f;
  color: white;
  font-weight: bold;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}
