/* Collapsible styling */
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}



/* Table styling */
.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

tr:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}
tr:hover {
  background-color: #3d112f;
  color: white;
  font-weight: bold;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
}