<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">

{% block head_content %}
{% endblock %}
<link rel="stylesheet" href="{% static 'stylesheets/base_users.css' %}">

<style>
    {% block style_block %}
    {% endblock %}
</style>
</head>

<body>
<!--Add a 'head strap'-->
<div class="head_strap">
    <i class="head_strap_text">Timetable Solutions</i>
    {% if user.is_authenticated %}
        <span class="login_info">
            Logged in as: {{user.username}} | <a href="{% url 'logout' %}">Logout</a> | <a href="{% url 'password_change' %}">Change password</a>
        </span>
    {% endif %}
</div>

<!--Add a navigation bar-->
{% if user.is_authenticated %}
<div class="navbar">
    <p class="navbar_text">
        <a href="{% url 'dashboard' %}">Home</a> |
        <a href="{% url 'file_upload_page' %}">Data</a> |
        <a href="">Create</a> |
        <a href="{% url 'selection_navigator' %}">View</a>
    </p>
</div>
{% endif %}


{% block content %}
{% endblock %}

<footer class="footer_info">
    <hr style="border-color:black;border-width:1px;">
    <span>
        Copyright Timetable Solutions Ltd 2022 | edward.e.j.wilson@gmail.com | +447810804531 | London | New York | Singapore
    </span>
</footer>
</body>

</html>