/* Utility css classes for the custom admin site */
@import url(/static/stylesheets/colour_scheme.css);

/* ====================
Warning banner on the admin site
==================== */
.admin_warning {
    /* Display */
    width: 50%;
    margin: 5px;
    padding: 5px;

    /* Typography */
    font-size: 15px;
    color: var(--error_banner_red_border);

    /* Background and border */
    background-color: var(--error_banner_red);
    border: 1px solid var(--error_banner_red_border);
    border-radius: 5px;
}
