{% extends 'base.html' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">
        <a href="{% url 'year-group-landing-page' %}" class="link-secondary text-decoration-none">
            year groups
        </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        upload
    </li>
{% endblock %}

{% block content %}

<div class="row mx-3">
    <div class="card-header">
        <h3>Bulk upload year groups</h3>
    </div>
</div>

<div class="row mx-3 my-1">
    <div class="card p-1 my-3 col-lg-6">
        <div class="card-header">
            <b>Upload a csv file with the required structure</b>
        </div>
        <div class="card-body">
            {% include 'utils/forms/basic-form.html' with upload=True form=form form_id="upload-form" submit_url=upload_url submit_text="Upload" other_button_url=example_download_url other_button_text="Download example" %}
        </div>
    </div>
</div>

<div class="row mx-3 my-1">
    <div class="card p-1 my-3">
        <div class="card-header">
            <b>Required file structure</b>
        </div>

        <div class="table-responsive">
            <table class="table table-striped w-100 text-nowrap">
                <thead>
                    <tr>
                        <th>year_group_id</th>
                        <th>year_group_name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Year one</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Reception</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <b>year_group_id*:</b> A positive integer (1, 2, 3, ...) used to identify this year group.
                Note that these must be unique
            </li>
            <li class="list-group-item">
                <b>year_group_name*:</b> Short description used to display the year group.
                These must also be unique
            </li>
            <li class="list-group-item">
                <i>*required - no empty values are allowed in these columns</i>
            </li>
        </ul>

    </div>
</div>

<!--Documentation-->

{% endblock %}
