{% extends 'new-base.html' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">
        <a href="{% url 'year-group-landing-page' %}" class="link-secondary text-decoration-none">
            year groups
        </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        list
    </li>
{% endblock %}

{% block content %}

<div class="row mx-3 mb-3">
    <div class="card-header">
        <h3>View your year groups</h3>
    </div>
</div>

{% include 'data_management/partials/tables/list-display-table.html' %}

{% endblock %}
