/* ====================
Container for the main content in the center of the page
==================== */
#content_container {
    /* Positioning */
    display: relative;

    /* Display and box model */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 70%;
    padding: 20px;

    /* Background and border */
    background-color: white;
    border: 3px solid rgba(51, 0, 61, 0.5);
    border-radius: 10px;
    box-shadow: 5px 5px rgba(184, 184, 184, 0.8);
}

/* ====================
3 x 2 grid container for  page content
==================== */
#grid_container {
    /* Positioning */
    position: relative;

    /* Display and box model */
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto auto;
    grid-template-rows: 40px auto auto;
    column-gap: 5px;
    row-gap: 5px;
    width: 90%;
    height: 100%;
    margin: 5px;
    padding: 5px;

    /* Background */
    background-color: rgba(255, 255, 255, 0.6);
}

/* ====================
Banner / title at the top of the grid
==================== */
#dashboard_title {
    /* Display and box model */
    grid-row: 1;
    grid-column: 1 / 3;
    vertical-align: middle;
    padding: 10px;

    /* Typography */
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 20px;

    /* Background and border */
    background-color: #11014A;
    border: 1px solid black;
    border-radius: 5px;
}

/* ====================
Default style for panels in the grid container (except the banner / title)
==================== */
.info_frame {
    /* Display and box model */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;

    /* Typography */
    font-size: 15px;
    color: black;

    /* Background and border */
    background-color: #e0e0e0;
    border: 2px solid black;
    border-radius: 5px;
}
