{% extends "base.html" %}

<head>

{% block head_content %}
<title>{{pupil.firstname}} {{pupil.surname}} Timetable</title>
{% load static %}
<link rel="stylesheet" href="{% static 'view_timetables/stylesheets/pupil_teacher_timetable.css' %}">
{% endblock %}

<style>
{% block style_block %}
{% for subject, colour in class_colours.items %}
.colour_{{ subject }} {
  background-color: {{colour}};
}
{% endfor %}
{% endblock %}
</style>

</head>

<body>
{% block content %}
<div id="content_container">
    <div id="heading_back_wrapper">
        <div id="heading">
            <b><i>
                Timetable for {{pupil.firstname}} {{pupil.surname}}
            </i></b>
        </div>
        <div id="back_button">
            <a href="{% url 'pupils_navigator' %}"><b>
                Back
            </b></a>
        </div>
    </div>

    <table id="timetable">

    {% for time, day_dict in timetable.items %}

    <tr>
        {% if forloop.first %}
        <th style="background-color:#876969;color:white;width:10%">Start time</th>
        {% for day in day_dict %}
        <th class="perimeter" style="width:18%;">{{ day|title }}</th>
        {% endfor %}
        {% endif %}
    </tr>
    <tr>
        <td class="perimeter">{{time}}</td>
        {% for day, klass in day_dict.items %}
        {% if klass == "FREE" %}
          <td class="colour_{{klass}}"><b>{{ klass|title }}</b></td>
        {% elif klass.subject_name == "LUNCH" %}
          <td class="colour_{{klass.subject_name}}"><b>{{ klass.subject_name|title}}</b></td>
        {% else %}
          <td class="colour_{{klass.subject_name}}">
              <b>{{ klass.subject_name|title}}</b><br>
              <i>{{ klass.teacher.title }} {{ klass.teacher.surname }}</i><br>
              <i>{{ klass.classroom.building}} {{klass.classroom.room_number}}</i>
          </td>
        {% endif %}

        {% endfor %}
    </tr>
    {% endfor %}
    </table>
    <button type="button" class="download_button" onclick="download_table_as_csv('{{teacher.firstname}}_{{teacher.surname}}_timetable')">
        Download as CSV
    </button>
    <script src="{% static 'view_timetables/javascript/table_to_csv.js' %}"></script>
</div>
{% endblock %}
</body>
