{% extends "base.html" %}

<head>

{% block head_content %}
<title>{{pupil.firstname}} {{pupil.surname}} Timetable</title>
{% load static %}
<link rel="stylesheet" href="{% static 'view_timetables/stylesheets/pupil_teacher_timetable.css' %}">
{% endblock %}

<style>
{% block style_block %}
{% for subject, colour in class_colours.items %}
.colour_{{ subject }} {
  background-color: {{colour}};
}
{% endfor %}
{% endblock %}
</style>

</head>

<body>
{% block content %}
<div id="content_container">
    <div id="heading_back_wrapper">
        <div id="heading">
            <b>
                Timetable for {{pupil.firstname}} {{pupil.surname}}
            </b>
        </div>
        <form id="back_button_form" action="{% url 'pupils_navigator' %}" method="get">
            <button id="back_button" type="submit">
                Back
            </button>
        </form>
    </div>

    <table id="timetable">

    {% for time, day_dict in timetable.items %}

    <tr>
        {% if forloop.first %}
            <th id="period_time"><i>Period time</i></th>
        {% for day in day_dict %}
            <th class="perimeter" style="width:18%;">{{ day|title }}</th>
        {% endfor %}
        {% endif %}
    </tr>
    <tr>
        <td class="perimeter"><i>{{ time }}</i></td>
        {% for day, klass in day_dict.items %}
            {% if klass == "FREE" %}
              <td class="colour_{{klass}} timetable_slot"><b>{{ klass|title }}</b></td>
            {% elif klass.subject_name == "LUNCH" %}
              <td class="colour_{{klass.subject_name}} timetable_slot"><b>{{ klass.subject_name|title}}</b></td>
            {% else %}
              <td class="colour_{{klass.subject_name}} timetable_slot">
                  <b>{{ klass.subject_name|title}}</b><br>
                  <i>{{ klass.teacher.title }} {{ klass.teacher.surname }}</i><br>
                  <i>{{ klass.classroom.building}} {{klass.classroom.room_number}}</i>
              </td>
            {% endif %}

        {% endfor %}
    </tr>
    {% endfor %}
    </table>
    <form action="{% url 'pupil_tt_csv' pupil.pupil_id %}" method="get">
        <button id="download_button" type="submit">
            Download CSV
        </button>
    </form>
    <script src="{% static 'view_timetables/javascript/table_to_csv.js' %}"></script>
</div>
{% endblock %}
</body>
