{% extends "base.html" %}

<head>
{% block head_content %}
<title>{{teacher.firstname}} {{teacher.surname}} Timetable</title>
{% load static %}
<link rel="stylesheet" href="{% static 'view_timetables/stylesheets/pupil_teacher_timetable.css' %}">
{% endblock %}

<style>
{% block style_block %}
{% for year_group, colour in year_group_colours.items %}
.color_{{ year_group }} {
  background-color: {{colour}};
}
{% endfor %}
{% endblock %}
</style>

</head>

<body>
{% block content %}
<div id="content_container">
    <div id="heading_back_wrapper">
        <div id="heading">
            <b>
                Timetable for {{teacher.firstname}} {{teacher.surname}}
            </b>
        </div>
        <div id="back_button">
            <a href="{% url 'teachers_navigator' %}"><b>
                Back
            </b></a>
        </div>
    </div>

    <table id="{{teacher.firstname}}_{{teacher.surname}}_timetable">

    {% for time, day_dict in timetable.items %}

    <tr>
        {% if forloop.first %}
        <th id="period_time"><i>Period time</i></th>
        {% for day in day_dict %}
        <th class="perimeter" style="width:18%;">{{ day|title }}</th>
        {% endfor %}
        {% endif %}
    </tr>
    <tr>
        <td class="perimeter">{{time}}</td>
        {% for day, klass in day_dict.items %}
          {% if klass == "FREE" %}
            <td class="color_{{klass}} timetable_slot"><b>{{ klass|title }}</b></td>
          {% elif klass.subject_name == "LUNCH" %}
            <td class="color_{{klass.subject_name}} timetable_slot"><b>{{ klass.subject_name|title}}</b></td>
          {% else %}
            <td class="color_{{klass.pupils.all.0.year_group}} timetable_slot">
                <b>{{ klass.subject_name|title}}</b><br>
              <i>Year {{ klass.pupils.all.0.year_group }}</i><br>
              <i>{{ klass.classroom.building }} {{ klass.classroom.room_number }}</i>
            </td>
          {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    </table>

    <button type="button" class="download_button" onclick="download_table_as_csv('{{teacher.firstname}}_{{teacher.surname}}_timetable')">
        Download as CSV
    </button>
    <script src="{% static 'view_timetables/javascript/table_to_csv.js' %}"></script>
</div>

{% endblock %}
</body>
