{% extends "legacy-base.html" %}

<head>
{% block head_content %}
<title>{{teacher.firstname}} {{teacher.surname}} Timetable</title>
{% load static %}
<link rel="stylesheet" href="{% static 'view_timetables/stylesheets/pupil_teacher_timetable.css' %}">
{% endblock %}

</head>

<body>
{% block content %}
{% include 'partials/lesson_detail.html' %}
<div id="content_container">
    <div id="heading_back_wrapper">
        <div id="heading">
            <b>
                Timetable for {{teacher.firstname}} {{teacher.surname}}
            </b>
        </div>
        <form id="back_button_form" action="{% url 'teachers_navigator' %}" method="get">
            <button id="back_button" type="submit">
                Back
            </button>
        </form>
    </div>

    {% include 'partials/timetable.html' with timetable=timetable %}
</div>

{% endblock %}
</body>
