{% extends "base.html" %}

<head>
{% block head_content %}
<title>{{teacher.firstname}} {{teacher.surname}} Timetable</title>
{% load static %}
<link rel="stylesheet" href="{% static 'view_timetables/stylesheets/pupil_teacher_timetable.css' %}">
{% endblock %}

<style>
{% block style_block %}
{% for year_group, colour in year_group_colours.items %}
.color_{{ year_group }} {
  background-color: {{colour}};
}
{% endfor %}
{% endblock %}
</style>

</head>

<body>
{% block content %}
{% include 'partials/lesson_Detail.html' %}
<div id="content_container">
    <div id="heading_back_wrapper">
        <div id="heading">
            <b>
                Timetable for {{teacher.firstname}} {{teacher.surname}}
            </b>
        </div>
        <form id="back_button_form" action="{% url 'teachers_navigator' %}" method="get">
            <button id="back_button" type="submit">
                Back
            </button>
        </form>
    </div>

    <table id="timetable">

    {% for time, day_dict in timetable.items %}

    <tr>
        {% if forloop.first %}
        <th id="period_time"><i>Period time</i></th>
        {% for day in day_dict %}
        <th class="perimeter" style="width:18%;">{{ day|title }}</th>
        {% endfor %}
        {% endif %}
    </tr>
    <tr>
        <td class="perimeter">{{time}}</td>
        {% for day, klass in day_dict.items %}
          {% if klass == "FREE" %}
            <td class="color_{{klass}} timetable_slot"><b>{{ klass|title }}</b></td>
          {% elif klass.subject_name == "LUNCH" %}
            <td class="color_{{klass.subject_name}} timetable_slot"><b>{{ klass.subject_name|title}}</b></td>
          {% else %}
            <td
                hx-get="{% url 'lesson-detail' klass.pk %}"
                hx-trigger="click"
                hx-target="#modal-htmx-handle"
                hx-swap="innerHTML"

                class="color_{{klass.pupils.all.0.year_group}} timetable_slot timetable_slot_lesson">
                <b>{{ klass.subject_name|title}}</b><br>
              <i>Year {{ klass.pupils.all.0.year_group }}</i><br>
              <i>{{ klass.classroom.building }} {{ klass.classroom.room_number }}</i>
            </td>
          {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    </table>
    <div id="download_button_panel">
        <form action="{% url 'teacher_tt_csv' teacher.teacher_id %}" method="get">
            <button class="download_button" type="submit">
                Download CSV
            </button>
        </form>
        <form action="{% url 'teacher_tt_pdf' teacher.teacher_id %}" method="get">
            <button class="download_button" type="submit">
                Download PDF
            </button>
        </form>
    </div>
</div>

{% endblock %}
</body>
