<!DOCTYPE html>
<html>
{% extends "base.html" %}
{% load static %}

<head>
{% block head_content %}
    <title>Teacher timetables</title>
    <link rel="stylesheet" href="{% static 'view_timetables/stylesheets/pupil_teacher_navigators.css' %}">
{% endblock %}
</head>

<body>
{% block content %}
<div id="content_container">
    <h2>Teacher timetables</h2>

    <p style="margin-bottom:20px;">Expand the sections below to locate the relevant teacher</p>
    {% for letter, teachers in all_teachers.items %}
    <button class="collapsible">{{letter | upper}}- Surnames</button>
    <div class="content">
      <table>
          <tr>
              <th>Firstname</th>
              <th>Surname</th>
              <th>View timetable</th>
          </tr>
          {% for teacher in teachers %}
          <tr>
              <td>{{teacher.firstname}}</td>
              <td>{{teacher.surname}}</td>
              <td><a href="{% url 'teacher_timetable_view' teacher.teacher_id %}" style="color:black">View</a></td>
          </tr>
          {% endfor %}
      </table>
    </div>
    {% endfor %}
</div>

<script src="{% static 'view_timetables/javascript/collapsible.js' %}"></script>

{% endblock %}
</body>
</html>