{% extends "legacy-base.html" %}

{% block head_content %}
{% load static %}
<link rel="stylesheet" href="{% static 'users/stylesheets/login_registration_forms.css' %}">
<title>Password change complete</title>
{% endblock %}

{% block style_block %}
{% endblock %}

{% block content %}
<div id="form_container">
    <h3 style="margin:10px;">Password successfully changed</h3>
    <hr class="form_break_hr">
    <a href="{% url 'dashboard' %}" class="wide_red_button white_link">Back to dashboard</a>
</div>
{% endblock %}
