{% extends "base.html" %}

{% block title %} Change password - {{ block.super }} {% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">
        change password
    </li>
{% endblock %}

{% block content %}

<div class="row mx-3 my-3 gy-2">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4>
                    Change your password
                </h4>
            </div>
            <div class="card-body">
                {% url 'dashboard' as dashboard_url %}
                {% include 'utils/forms/basic-form.html' with form=form form_id="change-password-form" submit_text="Change" submit_icon="fa-solid fa-lock" other_button_url=dashboard_url %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
