{% extends 'base.html' %}

{% block head_content %}
{% load static %}
<link rel="stylesheet" href="{% static 'users/stylesheets/login_registration_forms.css' %}">
<title>Change password</title>
{% endblock %}

{% block style_block %}
ul {
    /* Styling of error messages when entering a new password */
    font-size: 15px;
    margin: 15px;
}
{% endblock %}

{% block content %}
<div id="form_container">
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Change password">
    </form>
    <hr style="color:black;width:90%;margin-bottom:15px;">
    <a href="{% url 'dashboard' %}" class="wide_red_button">Back to dashboard</a>
</div>
{% endblock %}