{% extends 'base.html' %}

{% block head_content %}
{% load static %}
<link rel="stylesheet" href="{% static 'users/stylesheets/login_registration_forms.css' %}">
<title>Password change complete</title>
{% endblock %}

{% block style_block %}

#parent_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
}
#back_to_dash_button {
    border-radius: 5px;
    border: 1px solid #33003d;
    width: 330px;
    font-size: 20px;
    padding: 5px;
    color: white;
    text-align: center;
    background-color: #c4353f;
}

{% endblock %}

{% block content %}

<div id="parent_container">
    <div id="form_container">
        <h3 style="margin:10px;">Password successfully changed</h3>
        <hr style="color:black;width:90%;margin-bottom:15px;">
        <a href="{% url 'dashboard' %}" id="back_to_dash_button">Back to dashboard</a>
    </div>
</div>
{% endblock %}